#card-row{
	margin-left: 550px;
}

#faculty-card{
	margin-top: 100px;
	height: 200px;
	background: transparent;
}

#input{
	margin-top: 50px;
}

#footer{
	padding-top: 0px;
}

#footer-row{
	margin-bottom: 0px;
	margin-top: 190px;
}