*{
	margin: 0;
	padding: 0;

}



.row .col.m2.center{
	margin-top: 40px;
	margin-left: 37px;
}

#form{
	margin-top: 20px;	
}
#footer{
	padding-top: 0px;
}

#footer-row{
	margin-bottom: 0px;
	margin-top: 143px;
}

