#main-card{
	position: absolute;
	top:15%;
	left:35%;
	width: 500px;
	background: transparent;
}

#center{
	margin-top: 50px;
	margin-left: 140px;
}

#footer{
	padding-top: 0px;
}

#footer-row{
	margin-bottom: 0px;
	margin-top: 510px;
}