@charset "UTF-8";
body {

	margin: auto;
	padding: 0;
	
}

#content-row{
	margin-top: 200px;
}

div .row {
	
	margin-top: 100px;
	
}

#footer{
	padding-top: 0px;
}

#footer-row{
	margin-bottom: 0px;
	margin-top: 110px;
}

